/*全局使用 开始*/
div {
	display: block;
}
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols-regular-webfont.woff') format('woff'),
         url('websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a:link {
	text-decoration: none;
}
/*全局使用 结束*/
/*.Poup-show-layer:before {
	content: '';
	width: 92%;
	height: 60%;
	position: absolute;
	left: 4%;
	bottom: 36px;
	background-color: transparent;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
	transform: skew(-12deg) rotate(-4deg);
	z-index: -1;
}
.Poup-show-layer:after {
	content: '';
	width: 92%;
	height: 60%;
	position: absolute;
	right: 4%;
	bottom: 36px;
	background-color: transparent;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
	transform: skew(12deg) rotate(4deg);
	z-index: -1;
}*/
/*弹出层 开始*/
.Poup-show-layer {
	position: fixed; left:50%;
	border: 1px solid  rgba(0, 0, 0, .2); 										
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1), 0px 0px 2px rgba(255, 255, 0, 0.1) inset;
	background-clip: padding-box;
	outline: 0;	
	display: none;	
	z-index: 10001;
	overflow: none;	
	background-color: #fff;
	background: url(./images/loading.gif) no-repeat center center;														
}
.Poup-show-header {
	padding: 2px 10px;
	border-bottom: 1px solid #e5e5e5;
}
.Poup-show-body {
	padding: 0px 13px;
}
.Poup-show-body img {
	display: block;
}
.Poup-show-footer {
	padding: 2px 10px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.Poup-show-title {
	margin: 0px;
	line-height: 1.4;
	display: inline-block;
}
.Poup-btn-l {
	position: absolute;
	left: 0;
	top: 0;
	width: 40%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	cursor:default;
}
.Poup-btn-r {
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	cursor:default;
}
.Poup-show-btn {
	display: inline-block;
	padding: 2px 12px;
	margin-bottom: 0px;
	color: #333;
	font-size: 8px;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid transparent;
	border-color: #ccc;
	border-radius: 3px;
	touch-action: manipulation;
}
/*弹出层 结束*/
/*遮罩层 开始*/
#Poup-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.9;
	z-index: 10000;
	display: none;
}
/*遮罩层 结束*/
/*图标样式 开始*/
.a-btn{
    background:#80a9da;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
    background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
    padding-left:20px;
    padding-right:80px;
    height:38px;
    display:inline-block;
    position:relative;
    border:1px solid #5d81ab;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    float:left;
    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-text{
    padding-top:5px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#446388;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-slide-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(./images/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    padding-right:180px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn:hover .a-btn-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#fff;
}
.a-btn:hover .a-btn-slide-text{
    width:100px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}
/*图标样式 结束*/